version: "3.8"
services:
  postgres:
    image: postgres:15-alpine
    container_name: rocket_league_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rocket_league_tournament
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
